● nginx.servicesystemctl.service
   Loaded: not-found (Reason: No such file or directory)
   Active: inactive (dead)

● status.service
   Loaded: not-found (Reason: No such file or directory)
   Active: inactive (dead)

[0;1;31m●[0m nginx.service - A high performance web server and a reverse proxy server
   Loaded: loaded (/lib/systemd/system/nginx.service; enabled; vendor preset: enabled)
   Active: [0;1;31mfailed[0m (Result: exit-code) since Mon 2017-07-24 18:24:19 UTC; 8s ago
     Docs: man:nginx(8)
  Process: 8323 ExecStop=/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /run/nginx.pid (code=exited, status=0/SUCCESS)
  Process: 1338 ExecStart=/usr/sbin/nginx -g daemon on; master_process on; (code=exited, status=0/SUCCESS)
  Process: 9039 ExecStartPre=/usr/sbin/nginx -t -q -g daemon on; master_process on; [0;1;31m(code=exited, status=1/FAILURE)[0m
 Main PID: 1341 (code=exited, status=0/SUCCESS)

Jul 24 18:24:19 ubuntu-1gb-semi-automated-crawler systemd[1]: Starting A high performance web server and a reverse proxy server...
Jul 24 18:24:19 ubuntu-1gb-semi-automated-crawler nginx[9039]: nginx: [emerg] directive "server_name" is not terminated by ";" in /etc/nginx/conf.d/demoapp_nginx.conf:10
Jul 24 18:24:19 ubuntu-1gb-semi-automated-crawler nginx[9039]: nginx: configuration file /etc/nginx/nginx.conf test failed
Jul 24 18:24:19 ubuntu-1gb-semi-automated-crawler systemd[1]: [0;1;39mnginx.service: Control process exited, code=exited status=1[0m
Jul 24 18:24:19 ubuntu-1gb-semi-automated-crawler systemd[1]: [0;1;31mFailed to start A high performance web server and a reverse proxy server.[0m
Jul 24 18:24:19 ubuntu-1gb-semi-automated-crawler systemd[1]: [0;1;39mnginx.service: Unit entered failed state.[0m
Jul 24 18:24:19 ubuntu-1gb-semi-automated-crawler systemd[1]: [0;1;39mnginx.service: Failed with result 'exit-code'.[0m
