<div>
  <h1 >Demo crawler</h1>
  <div>
    <h4>Input url</h4>
    <div class="col-md-4 p-n" style="display: flex;">
        <input class="form-control col-md-8" #domain
          placeholder="Submit your url here..."
          autofocus>
        <button (click)="send(domain.value)" class="btn btn-primary col-md-4">Submit Value</button>
    </div>
    <div class="content ">
      <div>
        <h4>Title</h4>
        <div>
          {{ title }}
        </div>
      </div>
      <div>
        <h4>Abstract</h4>
        <div>
          {{ abstract }}
        </div>
      </div>
      <div>
        <h4>Topic</h4>
        <div>
          {{ topic }}
        </div>
      </div>
      <div>
        <h4>Content</h4>
        <div>
          {{ content }}
        </div>
      </div>
      <div>
        <h4>Datetime</h4>
        <div>
          {{ datetime }}
        </div>
      </div>
      <div>
        <h4>image</h4>
        <div>
          <img src="{{image}}" alt="">
        </div>
      </div>


    </div>
  </div>
</div>
